<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Howdy! This is a <a href="https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API" target="_blank">push-notification</a> demo. It is my first foray into testing and leveraging <em>Service Workers</em>.</p>
    <p>To receive notifications from this site, press the <em>Subscribe</em> button below:</p>
    <button id="subscribe-button">Subscribe</button>
  </body>
</html>
