<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include _partials/messages %>
    <h1><%= title %></h1>
    <p>
      Howdy! This is a
      <a href="https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API" target="_blank">push-notification</a> demo.
      It is my first foray into testing and leveraging <em>Service Workers</em>.
    </p>
    <p>To receive notifications from this site, press the <em>Subscribe</em> button below:</p>
    <button id="subscribe-button">Subscribe</button>
    <script>
      (function() {
        let registration;
        window.addEventListener('load', () => {
          if ('serviceWorker' in navigator) {
            console.log('Service workers are supported');
          }
          else {
            console.log('This browser does not support service workers');
          }

          if ('PushManager' in window) {
            console.log('Push API is supported');

            // 2021-1-14 https://github.com/bradtraversy/node_push_notifications/issues/1#issuecomment-389413687
            navigator.serviceWorker.ready.then(reg => {;
              console.log('serviceWorker ready');
              registration = reg;
            }).catch(err => {
              console.log('Error registering service');
              console.log(JSON.stringify(Object.keys(err)));
              console.log(JSON.stringify(err));
            });

            navigator.serviceWorker.register('/worker.js', {scope: '/'});

          }
          else {
            console.log('Push API is not supported');
          }
        });


        const publicVapidKey = 'BDg8l9P_uXEbu2XT0qmCet4RndcAkKODMpnFIqs_E0lyTq5X-UJQ_CnHnbX6hR7AelzzRJLYY3gvAU2lKHNgMRo';


        document.getElementById('subscribe-button').addEventListener('click', async () => {
          console.log('Subscribe clicked');

          // 2021-1-14 https://github.com/bradtraversy/node_push_notifications/issues/1#issuecomment-389413687
//          navigator.serviceWorker.ready.then(registration => {;
//            console.log('serviceWorker ready');



            registration.pushManager.getSubscription().then(subscription => {
              console.log('Attempted to retrieve subscription');
              console.log(JSON.stringify(subscription));

              registration.pushManager.subscribe({userVisibleOnly: true, applicationServerKey: publicVapidKey}).then((subscription) => {
                console.log('Subscribed to push,', subscription);

                console.log('Fetching');
//                fetch('/subscribe', {
//                  method: 'POST',
//                  body: JSON.stringify(subscription),
//                  headers: {
//                    'content-type': 'application/json'
//                  }
//                })
//                .then(response => response.json())
//                .then(data => {
//                  console.log(data);
//                  var message = document.createElement('div');
//                  message.classList.add('alert');
//                  message.classList.add('alert-info');
//                  message.appendChild(document.createTextNode(data.messages.info[0]));
//                  document.getElementsByClassName('messages')[0].appendChild(message);
//                })
//                .catch(err => console.error(err));

              }).catch(err => {
                console.log('catch statements must be on the same level!');
                console.log(err.code);
                console.log(err.message);
                console.log(err.name);
              });
            }).catch(err => {
              console.log('Error subscribing');
              console.log(JSON.stringify(Object.keys(err)));
              console.log(JSON.stringify(err));
            });
//          }).catch(err => {
//            console.log('Error getting subscription');
//            console.log(JSON.stringify(Object.keys(err)));
//            console.log(JSON.stringify(err));
//          });
        });
      })();

    </script>
  </body>
</html>
